// Reusable components like buttons
.btn {
  outline: none;
  border: none;
  padding: 1rem 1.2rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  font-weight: bold;
  letter-spacing: 3px;
  @media only screen and (max-width: $large) {
    font-size: 1.4rem;
    padding: 0.8rem 1rem;
  }
}

.section-heading {
  font-size: 3.5rem;
  font-weight: 500;
  color: var(--color-tertiary);
  position: relative;
  margin-bottom: 5%;
  @media only screen and (max-width: $large) {
    font-size: 3rem;
  }
  @media only screen and (max-width: $medium) {
    font-size: 2.6rem;
  }

  &__line::after {
    content: " ";
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 110px;
    width: 7rem;
    height: 0.3rem;
    background: var(--color-primary);
    @media only screen and (max-width: $large) {
      left: 90px;
    }
    @media only screen and (max-width: $medium) {
      left: 75px;
    }
    @media only screen and (max-width: $small) {
      width: 5rem;
    }
  }
  &__line-1::after {
    content: " ";
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 160px;
    width: 7rem;
    height: 0.3rem;
    background: var(--color-primary);
    @media only screen and (max-width: $large) {
      left: 140px;
    }
    @media only screen and (max-width: $medium) {
      left: 120px;
    }
    @media only screen and (max-width: $small) {
      width: 5rem;
    }
  }
}

.nav {
  &.open {
    .nav__toggle {
      > span:first-child {
        transform: rotate(45deg);
      }

      > span:nth-child(2) {
        opacity: 0;
      }
      > span:last-child {
        transform: rotate(-45deg);
      }
    }
    .nav__mobile {
      opacity: 1;
    }
  }
  &__toggle {
    position: fixed;
    right: 4rem;
    > span {
      display: none;
      @media only screen and (max-width: $medium) {
        display: block;
      }
      width: 26px;
      height: 2px;
      background-color: var(--color-primary);
      transform-origin: 3px 1px;
      transition: all 300ms ease-in-out;
      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }
  }
}

// .nav {
//   &__icon {
//     display: none;
//     cursor: pointer;
//     position: fixed;
//     right: 50px;
//     @media only screen and (max-width: $medium) {
//       display: inline-flex;
//     }
//     &-hamburger,
//     &-hamburger::after,
//     &-hamburger::before {
//       display: none;
//       @media only screen and (max-width: $medium) {
//         content: "";
//         display: inline-flex;
//         width: 2rem;
//         height: 2px;
//         background-color: black;
//         cursor: pointer;
//       }
//     }
//     &-hamburger::before {
//       position: absolute;
//       top: 6px;
//     }
//     &-hamburger::after {
//       position: absolute;
//       bottom: 6px;
//     }
//   }
// }
